body {
    background-color: #f8f9fa;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    background-image: url("../img/image.png");
    background-size: cover;             /* растянуть на весь экран */
    background-position: center;        /* центрировать */
    background-repeat: no-repeat;       /* не повторять */
    background-attachment: fixed;       /* чтобы фон был «приклеен» */
}

h1 {
    text-align: center;
    color: chocolate;
}

.converter_body {
    width: 60%;
    height: 400px;
    background-color: coral;
    border: 3px solid silver;
    border-radius: 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;     /* элементы идут в столбик */
    justify-content: center;    /* по вертикали */
    align-items: center;        /* по горизонтали */
    opacity: 95%;
}
p, input, select, button {
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    font-size: 16px;
}
input, select, button {
    border: 4px solid silver;
    border-radius: 10px;
}
select {
    width: 150px;
}
p {
    border: 4px solid silver;
    background-color: aquamarine;
    border-radius: 10px;
}
